# Compiled source #
###################
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.o

# Backups #
###########
*~

# Misc #
########
.listFiles.sh.swp
ANSI C
TODO
createSkeleton.sh
