# Compiled source #
###################
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.o

# Backups #
###########
*~

# Misc #
########
test
a.out
libchlange.a
main
main.c
main.s
memchr
memcmp
memcpy
createSkeleton.sh
